page-therapist-student-details {

  .scroll-content {
    background-color: #eee5de;
  }

  .vertical-align-content
  {
    //display: flex!important;
    background-color: #eee5de;
    align-content: center!important;
  }

  .buttonRow {
    padding-top: 5%;
    padding-bottom: 5%;
    align-self: center;
    width: 40%;
    height: 10%
  }

  .therapyList {
    background-color: #eee5de;
    padding-top: 5%;
  }

  .emptyRow {
    background-color: #eee5de;
    padding-top: 25vh;
    align-self: center;
    width: 80%;
  }

  .emptyItem {
    background-color: #eee5de;
    align-self: center;
    text-align: center;
  }

  .emptyIcon {
    background-color: #eee5de;
    width: 75px;
    height: 75px;
    color: gray;
    font-size: 800%
  }

  .emptyText {
    background-color: #eee5de;
    align-self: center;
    text-align: center;
    color: gray;
    font-size: 150%;
  }
  .scrollView {
    position: absolute;
    top: 10vh;
    align-items: center;
    height: 75%;
    max-height: 63vh
  }
  .push-to-bottom {
    position: absolute;
    bottom: 5vh;
    width: 100%;
  }

}
