<ion-header>

  <ion-navbar>
    <ion-title>{{this.studentService.data.get(selectedStudent).fName}} {{this.studentService.data.get(selectedStudent).lName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-content inset class="therapyList" class="scrollView">
    <div *ngFor="let transaction of this.transactions">
      <ion-card *ngIf="transaction.length !== -1">
        <ion-card-content>
          <ion-icon name="briefcase" item-left></ion-icon>
          {{getUserName(transaction.by_id)}} at {{this.checkinService.createReadableTime(transaction.start_time)}} for {{transaction.length}} mins.
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="transaction.length === -1">
        <ion-card-content>
          <ion-icon name="briefcase" item-left></ion-icon>
          {{getUserName(transaction.by_id)}} at {{this.checkinService.createReadableTime(transaction.start_time)}} and has not yet been checked back in.
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="this.transactions.length === 0"class="vertical-align-content">
      <ion-grid>
        <ion-row class="emptyRow">
          <ion-col>
            <ion-item class="emptyItem">
              <ion-icon class="emptyIcon" name="archive"></ion-icon>
            </ion-item>
            <ion-item class="emptyText">
              {{this.studentService.data.get(selectedStudent).fName}} {{this.studentService.data.get(selectedStudent).lName}} has not had therapy today.
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
  <ion-grid class="push-to-bottom">
    <ion-row class="buttonRow">
      <ion-col>
        <div *ngIf="this.location.includes(this.checkinService.CHECKED_OUT_THERAPY)">
          <button ion-button block (click)="checkinStudent()">Check In</button>
        </div>
        <div *ngIf="!this.location.includes(this.checkinService.CHECKED_OUT_THERAPY)">
          <button ion-button block (click)="checkoutStudent()">Check Out</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
