<ion-header>
  <ion-navbar>
    <ion-title>Driver</ion-title>
  </ion-navbar>
</ion-header>


<div class="fixed-content fixedBackground" scroll=false>
  <ion-grid class="horizontal-align-center">
    <ion-row class="titleRow">
      <ion-col>
        <div class="titleRoom">
          {{getDriverName(this.id)}}'s Favorite Students
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-content class="scrollView">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div *ngFor="let thisStudent of driverStudents">
              <ion-card class="cardElement" *ngIf="this.studentList.get(thisStudent).location !== this.checkinService.CHECKED_OUT">
                  <ion-item-sliding>
                    <ion-item style="padding-left: 5px">
                      <ion-grid style="margin-top: -13px; margin-bottom: -16px;">
                        <ion-row>
                          <ion-col width-10>
                            <div [hidden]="editDesktop">
                              <button ion-button style="background-color: #FFFFFF; box-shadow: 0 0 0 0; padding: 10px 10px 10px 10px;">
                                <ion-icon name="walk" item-left style="color: #000000; font-size: 150%"></ion-icon>
                              </button>
                            </div>
                            <div [hidden]="!editDesktop">
                              <button ion-button color="danger" (click)="removeStudent(thisStudent)" style="box-shadow: 0 0 0 0; padding: 10px 10px 10px 10px;">
                                <ion-icon name="trash"></ion-icon>
                              </button>
                            </div>
                          </ion-col>
                          <ion-col width-50 (click)="studentTapped(this.studentList.get(thisStudent)._id)">
                            <div style="padding-top: 10px;">
                              {{this.studentList.get(thisStudent).fName}} {{this.studentList.get(thisStudent).lName}}
                            </div>
                          </ion-col>
                          <ion-col width-30 (click)="studentTapped(this.studentList.get(thisStudent)._id)">
                            <div style="padding-top: 8px; float: right;">
                              <page-student-info-button [thisStudentLocation]="this.studentList.get(thisStudent).location"></page-student-info-button>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item-options>
                      <button ion-button color="danger" (click)="removeStudent(thisStudent)">
                        <ion-icon name="trash"></ion-icon>
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngFor="let thisStudent of therapistStudents">
              <ion-card class="cardElement" *ngIf="this.studentList.get(thisStudent).location === this.checkinService.CHECKED_OUT">
                <ion-item-sliding>
                  <ion-item style="padding-left: 5px" class="absentRow">
                    <ion-grid style="margin-top: -13px; margin-bottom: -16px;">
                      <ion-row>
                        <ion-col width-10>
                          <div [hidden]="editDesktop">
                            <button ion-button style="background-color: #FFFFFF; box-shadow: 0 0 0 0; padding: 10px 10px 10px 10px;">
                              <ion-icon name="walk" item-left style="color: #000000; font-size: 150%"></ion-icon>
                            </button>
                          </div>
                          <div [hidden]="!editDesktop">
                            <button ion-button color="danger" (click)="removeStudent(thisStudent)" style="box-shadow: 0 0 0 0; padding: 10px 10px 10px 10px;">
                              <ion-icon name="trash"></ion-icon>
                            </button>
                          </div>
                        </ion-col>
                        <ion-col width-50 (click)="studentTapped(this.studentList.get(thisStudent)._id)">
                          <div style="padding-top: 10px;">
                            {{this.studentList.get(thisStudent).fName}} {{this.studentList.get(thisStudent).lName}}
                          </div>
                        </ion-col>
                        <ion-col width-30 (click)="studentTapped(this.studentList.get(thisStudent)._id)">
                          <div style="padding-top: 8px; float: right;">
                            <page-student-info-button [thisStudentLocation]="this.studentList.get(thisStudent).location"></page-student-info-button>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                  <ion-item-options>
                    <button ion-button color="danger" (click)="removeStudent(thisStudent)">
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
</div>
