<ion-header>
  <ion-navbar>
    <ion-title>Driver</ion-title>
  </ion-navbar>
</ion-header>


<div class="fixed-content fixedBackground" scroll=false>
  <ion-grid class="horizontal-align-center">
    <ion-row class="titleRow">
      <ion-col>
        <div class="titleRoom">
          {{getDriverName(this.id) | firstUpper}}'s Students
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-content class="scrollView">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div *ngFor="let thisStudent of driverStudents">
              <ion-card class="cardElement" *ngIf="this.studentList.get(thisStudent).location !== this.checkinService.CHECKED_OUT">
                <ion-item>
                  <ion-icon name="walk" item-left></ion-icon>
                  <div>
                    {{this.studentList.get(thisStudent).fName}} {{this.studentList.get(thisStudent).lName}}
                  </div>
                  <div item-right>
                    <page-student-info-button [thisStudentLocation]="this.studentList.get(thisStudent).location"></page-student-info-button>
                  </div>
                </ion-item>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngFor="let thisStudent of driverStudents">
              <ion-card class="cardElement" *ngIf="this.studentList.get(thisStudent).location === this.checkinService.CHECKED_OUT">
                <ion-item class="absentRow">
                  <ion-icon name="walk" item-left></ion-icon>
                  <div>
                    {{this.studentList.get(thisStudent).fName}} {{this.studentList.get(thisStudent).lName}}
                  </div>
                  <div item-right>
                    <page-student-info-button [thisStudentLocation]="this.studentList.get(thisStudent).location"></page-student-info-button>
                  </div>
                </ion-item>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
</div>
