page-therapist-favorite {

  .horizontal-align-center {
    align-items: center;
    height: 80%;
  }
  .push-to-bottom {
    bottom: 50px;
    width: 100%;
  }
  .buttonRow {
    align-self: center;
    width: auto;
  }
  .addButton {
    align-self: center;
    width: auto;
  }
  .absentRow {
    opacity: .5;
  }
  .titleRoom {
    align-self: center;
    padding-bottom: 40px;
    font-size: 300%;
  }

}
