page-admin-reporting-details {
  .headerRow{
    background-color: rgba(0,0,0,0.10);
  }
  .evenRow{
    background-color: rgba(0,0,0,0.06);
  }
  .oddRow{

  }
  .totalRow{
    background-color: rgba(0,0,0,0.08);
  }
}
