<ion-header>
  <ion-navbar>
    <ion-title>{{this.studentService.data.get(this.student.student_id).fName}} {{this.studentService.data.get(this.student.student_id).lName}}'s Billing Data</ion-title>
    <page-home-button></page-home-button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-grid no-padding>
      <ion-row class="headerRow">
        <ion-col> <strong>Days:</strong> </ion-col>
        <ion-col *ngFor="let title of titles"> <strong>{{title}}</strong> </ion-col>
      </ion-row>
      <div *ngFor="let day of this.student.student_days" class="container">
          <ion-col> <strong>{{days[this.student.student_days.indexOf(day)]}}</strong> </ion-col>
   <!--      <ion-row *ngIf="!(days.indexOf(day)%2)" class="oddRow">
          <ion-col>{{day}}</ion-col>
          <ion-col *ngFor="let title of titles">{{data[days.indexOf(day)*12+titles.indexOf(title)]}}</ion-col>
        </ion-row> -->
        <div class="blank">{{this.checkinService.createReadableTime(day.start_time)}}</div>
        <div class="blank">{{this.checkinService.createReadableTime(day.end_time)}}</div>

        <!-- contains the gross hours -->
        <div *ngIf="day.attendanceWarning" class="attendanceWarning">{{ ( day.gross_hours ).toFixed(2) }}</div>
        <div *ngIf="!day.attendanceWarning" class="blank">{{ ( day.gross_hours ).toFixed(2) }}</div>

        <div class="blank">{{ (day.nap_hours).toFixed(2) }}</div>

        <!-- contains the therapy hours -->
        <div *ngIf="day.therapyWarning" class="therapyWarning">{{ (day.SP_therapy_hours).toFixed(2) }}</div>
        <div *ngIf="!day.therapyWarning" class="blank">{{ (day.SP_therapy_hours).toFixed(2) }}</div>

        <div *ngIf="day.therapyWarning" class="therapyWarning">{{ (day.PT_therapy_hours).toFixed(2) }}</div>
        <div *ngIf="!day.therapyWarning" class="blank">{{ (day.PT_therapy_hours).toFixed(2) }}</div>

        <div *ngIf="day.therapyWarning" class="therapyWarning">{{ (day.OT_therapy_hours).toFixed(2) }}</div>
        <div *ngIf="!day.therapyWarning" class="blank">{{ (day.OT_therapy_hours).toFixed(2) }}</div>



        <div class="blank">{{ (day.net_hours).toFixed(2) }}</div>

        <div class="blank">{{ (day.billable_hours).toFixed(2) }}</div>

        <div class="blank">{{16.46}}</div>

        <div class="blank">{{ (day.billable_hours * 16.46).toFixed(2) }}</div>

        <!-- contains the average/per day -->
        <div *ngIf="day.billingWarning" class="billedWarning">{{ (day.billable_hours / 5).toFixed(2) }}</div>
        <div *ngIf="!day.billingWarning" class="blank">{{ (day.billable_hours / 5).toFixed(2) }}</div>
      </div>
<div class="totalBar">
              <ion-row>
                <ion-col class="totaledItem" style="flex:2 1 40px;">
                  Total:
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{this.totals.gross_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{this.totals.nap_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{this.totals.SP_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{this.totals.PT_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{this.totals.OT_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{this.totals.net_hours.toFixed(2)}}</div>                
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{this.totals.billable_hours.toFixed(2)}}</div>     
                </ion-col>
                <ion-col class="totaledItem">
                    <div >16.46</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{(this.totals.billable_hours * 16.46).toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <div>{{(this.totals.billable_hours /5).toFixed(2)}}</div>
                </ion-col>
              </ion-row>
              </div>
    </ion-grid>
  </ion-card>
</ion-content>
