page-admin-reporting-details {
  .headerRow{
    display: flex;
    align-items: flex-end;
    background-color: rgba(0,0,0,0.10);
  }
  .evenRow{
    background-color: rgba(0,0,0,0.06);
  }
  .oddRow{

  }
  .unPad{
    padding:0px!important;
  }
  .totalRow{
    background-color: rgba(0,0,0,0.08);
  }
  .weekText{
    height: 5vh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:12px;
    margin-right:12px;
  }
  .arrowButton{
    height:100%;
    width:100%;
  }
  .totalBar{
    display: flex;
    background-color:rgba(0,0,0,0.08);
  }
  .totaledItem{
    padding: 3px;
    flex: 1 0;
    height: 30px;
  }
  .attendanceWarning{
    padding: 3px;
    flex: 1 0;
    height:100%;
    background-color:rgba(255,153,0,0.4);
    border: 3px;
    align-self: flex-end;
  }
  .billedWarning{
    padding: 3px;
    flex: 1 0;
    height:100%;
    background-color:rgba(255,0,0,0.4);
    border: 3px;
    align-self: flex-end;
  }
  .therapyWarning{
    padding: 3px;
    flex: 1 0;
    height: 100%;
    background-color:rgba(255,0,255,0.4);
    border-bottom-width: medium;
    border-bottom-style: ridge;
    align-self: flex-end;
  }
  .inputError{
    padding: 3px;
    flex: 1 0;
    height: 100%;
    background-color:rgba(255,0,0,0.75);
    border-bottom-width: medium;
    border-bottom-style: ridge;
    align-self: flex-end;
  }
  .blank{
    flex-grow: 1;
    background-color:rgba(255,255,255,0.08);
    border: 3px;
    align-self: flex-end;
    text-align: center;
  }
  .bgc {
    background: url(../assets/logo/Dark_Background.jpg);
    background-size: 100% 100%;
  }
  .container{
    height: 30px;
    display: flex;
    align-items: flex-end;
  }
  .nameContainer{
    font-size: 120%;
    font-weight: bold;
    text-align: left;
    flex: 2 1 40px;
    align-self: flex-end;
  }
  .errorsContainer{
    display: flex;
    flex-grow: 1;
    align-self:stretch;
  }
  .hoursContainer{
    font-size: 120%;
    font-weight: bold;
    text-align: right;
    flex-grow: 1;
    flex-basis: 30px;
  }

  input{
    min-width:0;
    border-width: medium;
    border-style: ridge;
    background-color:rgba(0,0,0,0.15);
  }
  .flexInput{
    padding: 3px;
    flex: 1 0;
    height: inherit;
    width: inherit;
    align-self: flex-end;
  }
}
