<ion-header>
  <ion-navbar>
    <ion-title>{{this.studentService.data.get(this.student.student_id).fName}} {{this.studentService.data.get(this.student.student_id).lName}}'s Billing Data</ion-title>
    <page-home-button></page-home-button>
  </ion-navbar>
</ion-header>


<ion-content padding class="bgc">
  <ion-card>
      <div class="headerRow">
        <div class="blank" style="font-weight:bold;"> Days:</div>
        <div class="blank" style="font-weight:bold;" *ngFor="let title of titles">{{title}}</div>
      </div>
      <form [formGroup]="studentDataForm" (change)="formChanged($event)">
        <div *ngFor="let day of this.student.student_days">
          <div class="container" [ngClass]="{'evenRow': student.student_days.indexOf(day)%2 }">
            <div class="blank" style="font-weight:bold">{{days[this.student.student_days.indexOf(day)]}}</div>

            <input formControlName="{{days[student.student_days.indexOf(day)]}}TimeIn" value="{{this.checkinService.createReadableTime(day.start_time)}}" [ngClass]="{'flexInput': true, 'inputError': this.studentDataForm.controls[days[student.student_days.indexOf(day)]+'TimeIn']._errors }" id="{{student.student_days.indexOf(day)}},0"/>
            <input formControlName="{{days[student.student_days.indexOf(day)]}}TimeOut" value="{{this.checkinService.createReadableTime(day.end_time)}}" [ngClass]="{'flexInput': true, 'inputError': this.studentDataForm.controls[days[student.student_days.indexOf(day)]+'TimeOut']._errors }" id="{{student.student_days.indexOf(day)}},1"/>

            <!-- contains the gross hours -->
            <div [ngClass]="{'attendanceWarning': day.attendanceWarning, 'blank': !day.attendanceWarning }">
              {{ ( day.gross_hours ).toFixed(2) }}
            </div>

            <input formControlName="{{days[student.student_days.indexOf(day)]}}NapHours" value="{{ (day.nap_hours) }}" [ngClass]="{'flexInput': true, 'inputError': this.studentDataForm.controls[days[student.student_days.indexOf(day)]+'NapHours']._errors }" id="{{student.student_days.indexOf(day)}},2"/>

            <!-- contains the therapy hours -->
            <input formControlName="{{days[student.student_days.indexOf(day)]}}SP" value="{{ (day.SP_therapy_hours) }}" [ngClass]="{'therapyWarning': day.therapyWarning, 'flexInput': !day.therapyWarning, 'inputError': this.studentDataForm.controls[days[student.student_days.indexOf(day)]+'SP']._errors }" id="{{student.student_days.indexOf(day)}},3"/>

            <input formControlName="{{days[student.student_days.indexOf(day)]}}PT" value="{{ (day.PT_therapy_hours) }}" [ngClass]="{'therapyWarning': day.therapyWarning, 'flexInput': !day.therapyWarning, 'inputError': this.studentDataForm.controls[days[student.student_days.indexOf(day)]+'PT']._errors }" id="{{student.student_days.indexOf(day)}},4"/>

            <input formControlName="{{days[student.student_days.indexOf(day)]}}OT" value="{{ (day.OT_therapy_hours) }}" [ngClass]="{'therapyWarning': day.therapyWarning, 'flexInput': !day.therapyWarning, 'inputError': this.studentDataForm.controls[days[student.student_days.indexOf(day)]+'OT']._errors }" id="{{student.student_days.indexOf(day)}},5"/>

            <div class="blank">{{ (day.net_hours).toFixed(2) }}</div>

            <div class="blank">{{ (day.billable_hours).toFixed(2) }}</div>

            <div class="blank">{{16.46}}</div>

            <div class="blank">{{ (day.billable_hours * 16.46).toFixed(2) }}</div>

            <!-- contains the average/per day -->
            <div [ngClass]="{'billedWarning': day.billingWarning, 'blank': !day.billingWarning }"></div>
          </div>
        </div>
      </form>
      <div class="totalBar">
        <div class="totaledItem" style="flex:3 0;">
          Total:
        </div>
        <div class="totaledItem">
            <div>{{this.totals.gross_hours.toFixed(2)}}</div>
        </div>
        <div class="totaledItem">
            <div>{{this.totals.nap_hours}}</div>
        </div>
        <div class="totaledItem">
            <div>{{this.totals.SP_therapy_hours}}</div>
        </div>
        <div class="totaledItem">
            <div>{{this.totals.PT_therapy_hours}}</div>
        </div>
        <div class="totaledItem">
            <div>{{this.totals.OT_therapy_hours}}</div>
        </div>
        <div class="totaledItem">
            <div>{{this.totals.net_hours.toFixed(2)}}</div>
        </div>
        <div class="totaledItem">
            <div>{{this.totals.billable_hours.toFixed(2)}}</div>
        </div>
        <div class="totaledItem">
            <div >16.46</div>
        </div>
        <div class="totaledItem">
            <div>{{(this.totals.billable_hours * 16.46).toFixed(2)}}</div>
        </div>
        <div class="totaledItem">
            <div>{{(this.totals.billable_hours /5).toFixed(2)}}</div>
        </div>
      </div>
  </ion-card>

  <ion-card [hidden]="this.studentDataForm.valid">
    <ion-card-header>Invalid input</ion-card-header>
    <ion-card-content *ngIf="formHasError('required')">
      Input is required.
    </ion-card-content>
    <ion-card-content *ngIf="formHasError('notPositiveNumber')">
      Input needs to be a positive number.
    </ion-card-content>

  </ion-card>
</ion-content>
