page-login {
  .vertical-align-content > *
  {
    //display: flex!important;
    align-content: center!important;
  }
  .row {
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .buttonRow {
    align-self: center;
    width: 50%;
  }
  .inputRow {
    align-self: center;
    width: 75%;
  }
}
