<ion-header>

  <ion-navbar>
    <ion-title>Security Question Update</ion-title>
  </ion-navbar>

</ion-header>

<div class="fixed-content">
  <div class="blockGrid">
    <ion-grid>
      <ion-row class="buttonRow">
        <ion-col>
          <ion-grid class="buttonOutline" class="centerGrid">
            <ion-item class="centerItem">
              <ion-row class="cardTitleRow">
                <ion-col class="card-row-child card-title">
                  <div class="titleRoom">
                    Change Question
                  </div>
                </ion-col>
              </ion-row>
            </ion-item>
            <form [formGroup]="questionForm" >
              <ion-item class="centerItem">
                <ion-label class="label">Security Question:</ion-label>
                <ion-input class="input-style" type="text" formControlName="question" value=""></ion-input>
              </ion-item>
              <ion-item class="centerItem">
                <ion-label class="label">Security Answer</ion-label>
                <ion-input class="input-style" type="password" formControlName="answer" value=""></ion-input>
              </ion-item>
            </form>
            <ion-row class= 'buttonRowCard'>
              <ion-col class="card-row-child">
                <button ion-button block outline color="light" class="submit-button" [disabled]="!this.questionForm.valid" (click)="updateQuestion()">Submit</button>
              </ion-col>
            </ion-row>
            <ion-card [hidden]="this.questionForm.valid">
              <ion-card-header>Invalid input</ion-card-header>
              <ion-card-content *ngIf="this.questionForm.controls['question'].hasError('required')">
                Question is required.
              </ion-card-content>
              <ion-card-content *ngIf="this.questionForm.controls['question'].hasError('fortyCharacters')">
                Question should be less than 40 characters.
              </ion-card-content>
              <ion-card-content *ngIf="this.questionForm.controls['answer'].hasError('required')">
                Answer is required.
              </ion-card-content>
            </ion-card>
        </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
