page-admin-user-tab {
  .bgc {
    background-color: #eee5de;
  }
  .scroll-content {
    padding-top: 5vh !important;
    background-color: #eee5de;
  }
  .scrollView {
    background-color: #eee5de;
    align-items: center;
    max-height: 80vh;
  }
  .push-to-bottom {
    background-color: #eee5de;
    position: absolute;
    bottom: 7vh;
    width: 100%;
  }
  .buttonRow {
    background-color: #eee5de;
    align-self: center;
    width: auto;
  }
}
