<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Teacher List of Students</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let student of students" (click)="studentTapped($event, student)">
      <ion-icon name="{{student.icon}}" item-left></ion-icon>
      {{student.title}}
      <div class="student-note" item-right>
        {{student.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedStudent" padding>
    You navigated here from <b>{{selectedStudent.title}}</b>
  </div>
</ion-content>
