<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>

<div class="fixed-content">
  <div class="blockGrid">
    <ion-grid>
      <ion-row class="buttonRow">
        <ion-col>
          <ion-grid class="buttonOutline" class="centerGrid">
            <ion-item class="centerItem">
              <ion-row class="cardTitleRow">
                <ion-col class="card-row-child card-title">
                  <div class="titleRoom">
                    Password Reset
                  </div>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item class="centerItem">
              <ion-input #userEmail class="input-style" type="text"  (keyup.enter)='checkEmail(userEmail)' placeholder='Email'></ion-input>
            </ion-item>
            <!--before question loaded successfully-->
            <ion-row class= 'buttonRowCard' *ngIf="!this.showQuestion">
              <ion-col class="card-row-child">
                <button ion-button block outline color="light" class="submit-button" (click)='checkEmail(userEmail)'>Submit</button>
              </ion-col>
            </ion-row>
            <!-- end -->
            <!-- after question loaded -->
            <div *ngIf="this.showQuestion">
              <ion-item class="centerItem">
                <div class="input-style">{{this.question}}</div>
              </ion-item>
              <ion-item class="centerItem">
                <ion-input #userAnswer class="input-style" type="text"  (keyup.enter)='checkAnswer(userAnswer)' placeholder='Answer'></ion-input>
              </ion-item>
              <ion-row class= 'buttonRowCard'>
                <ion-col class="card-row-child">
                  <button ion-button block outline color="light" class="submit-button" (click)='checkAnswer(userAnswer)'>Submit</button>
                </ion-col>
              </ion-row>
            </div>
        </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
