<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>

<div class="fixed-content">
  <div class="blockGrid">
    <ion-grid>
      <ion-row class="buttonRow">
        <ion-col>
          <ion-grid class="buttonOutline" class="centerGrid">
            <ion-item class="centerItem">
              <ion-row class="cardTitleRow">
                <ion-col class="card-row-child card-title">
                  <div class="titleRoom">
                    Password Reset
                  </div>
                </ion-col>
              </ion-row>
            </ion-item>
            <ion-item class="centerItem">
              <ion-input #password class="input-style" type="password"  (keyup.enter)='updatePassword(password.value, newPassword.value, reNewPassword.value)' placeholder='Current Password'></ion-input>
            </ion-item>
            <form [formGroup]="passForm" >
              <ion-item class="centerItem">
                <ion-input #newPassword class="input-style" type="password"  formControlName="password" placeholder='New Password'></ion-input>
              </ion-item>
              <ion-item class="centerItem">
                <ion-input #reNewPassword class="input-style" type="password"  formControlName="confirmPassword" placeholder='Re-enter New Password'></ion-input>
              </ion-item>
            </form>
            <ion-card [hidden]="this.passForm.valid">
              <ion-card-header>Invalid input</ion-card-header>
              <ion-card-content *ngIf="this.passForm.controls['password'].hasError('required')">
                Password is required.
              </ion-card-content>
              <ion-card-content *ngIf="this.passForm.controls['password'].hasError('lengthLessEight')">
                Password must be 8 or more characters.
              </ion-card-content>
              <ion-card-content *ngIf="this.passForm.controls['password'].hasError('pattern')">
                Password must have atleast one lowercase, one uppercase, and one digit.
              </ion-card-content>
              <ion-card-content *ngIf="this.passForm.controls['confirmPassword'].hasError('required')">
                Confirm Password is required.
              </ion-card-content>
              <ion-card-content *ngIf="this.passForm.hasError('notMatching')">
                Password and Confirm password are not equal.
              </ion-card-content>
            </ion-card>
            <ion-row class= 'buttonRowCard'>
              <ion-col class="card-row-child">
                <button ion-button block outline color="light" class="submit-button" (click)='updatePassword(password.value)' [disabled]="!this.passForm.valid">Submit</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
