<ion-header>

  <ion-navbar>
    <ion-title class="notDesktop">Therapist</ion-title>
    <ion-grid class="desktopEdit">
      <ion-row>
        <ion-col width-50>
          <ion-title>Therapist</ion-title>
        </ion-col>
        <ion-col width-50>
          <ion-buttons end>
            <button ion-button icon-only (click)="edit()">
              edit
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<div class="fixed-content fixedBackground" scroll=false *ngIf="!isEmpty()">
  <ion-grid class="horizontal-align-center">
    <ion-row class="titleRow">
      <ion-col>
        <div class="titleRoom">
          {{getTherapistName(this.id)}}'s Favorite Students
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-content class="scrollView">
    <ion-list style="margin-bottom:0px;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div *ngFor="let thisStudent of therapistStudents">
              <ion-card class="cardElement" *ngIf="this.studentList.get(thisStudent).location !== this.checkinService.CHECKED_OUT">
                  <ion-item-sliding>
                    <ion-item style="padding-left: 5px">
                          <div item-left>
                            <div [hidden]="editDesktop">
                              <button ion-button  class="editDelete" style="background-color: #FFFFFF; box-shadow: 0 0 0 0;">
                                <ion-icon name="walk" style="color: #000000; font-size: 150%"></ion-icon>
                              </button>
                            </div>
                            <div [hidden]="!editDesktop">
                              <button ion-button color="danger" class="editDelete" (click)="removeStudent(thisStudent)">
                                <ion-icon name="trash"></ion-icon>
                              </button>
                            </div>
                          </div>
                          <div (click)="studentTapped(this.studentList.get(thisStudent)._id)">
                              {{this.studentList.get(thisStudent).fName}} {{this.studentList.get(thisStudent).lName}}
                          </div>
                          <div item-right (click)="studentTapped(this.studentList.get(thisStudent)._id)">
                            <page-student-info-button [thisStudentLocation]="this.studentList.get(thisStudent).location"></page-student-info-button>
                          </div>
                    </ion-item>
                    <ion-item-options>
                      <button ion-button color="danger" (click)="removeStudent(thisStudent)">
                        <ion-icon name="trash"></ion-icon>
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngFor="let thisStudent of therapistStudents">
              <ion-card class="cardElement" *ngIf="this.studentList.get(thisStudent).location === this.checkinService.CHECKED_OUT">
                <ion-item-sliding>
                  <ion-item style="padding-left: 5px">
                        <div item-left>
                          <div [hidden]="editDesktop">
                            <button ion-button  class="editDelete" style="background-color: #FFFFFF; box-shadow: 0 0 0 0;">
                              <ion-icon name="walk" style="color: #000000; font-size: 150%"></ion-icon>
                            </button>
                          </div>
                          <div [hidden]="!editDesktop">
                            <button ion-button color="danger" class="editDelete" (click)="removeStudent(thisStudent)">
                              <ion-icon name="trash"></ion-icon>
                            </button>
                          </div>
                        </div>
                        <div (click)="studentTapped(this.studentList.get(thisStudent)._id)" style="color: #a6a6a6">
                            {{this.studentList.get(thisStudent).fName}} {{this.studentList.get(thisStudent).lName}}
                        </div>
                        <div item-right (click)="studentTapped(this.studentList.get(thisStudent)._id)"  style="color: #a6a6a6">
                          <page-student-info-button [thisStudentLocation]="this.studentList.get(thisStudent).location"></page-student-info-button>
                        </div>
                  </ion-item>
                  <ion-item-options>
                    <button ion-button color="danger" (click)="removeStudent(thisStudent)">
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
  <ion-grid class="push-to-bottom">
    <ion-row class="buttonRow">
      <ion-col>
        <button ion-button block outline color="light" class="submit-button" (click)="add()"> + Add Favorite</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ion-content *ngIf="isEmpty()">
<ion-list>
<div class="vertical-align-content">
  <ion-grid>
    <ion-row class="emptyRow">
      <ion-col>
        <ion-item class="emptyItem">
          <ion-icon class="emptyIcon" name="archive"></ion-icon>
        </ion-item>
        <ion-item class="emptyText">
          You dont have any favorited students.
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="push-to-bottom">
    <ion-row class="buttonRow">
      <ion-col>
        <button ion-button block outline color="light" class="submit-button" (click)="add()"> + Add Favorite</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-list>
</ion-content>
