<ion-header>

  <ion-navbar>
    <ion-title>Therapist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="!isEmpty()">
  <ion-grid class="horizontal-align-center">
    <ion-row class="buttonRow">
      <ion-col>
        <div class="titleRoom">
          {{getTherapistName(this.id)}}'s Favorite Students
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-content class="scrollView">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div *ngFor="let thisStudent of therapistStudents">
              <ion-card class="cardElement" *ngIf="this.studentList.get(thisStudent).location !== this.checkinService.CHECKED_OUT" (click)="studentTapped(this.studentList.get(thisStudent)._id)">
                  <ion-item-sliding>
                    <ion-item>
                      <ion-icon name="walk" item-left></ion-icon>
                      {{this.studentList.get(thisStudent).fName}} {{this.studentList.get(thisStudent).lName}}
                      <div item-right>
                        <page-student-info-button [thisStudentLocation]="this.studentList.get(thisStudent).location"></page-student-info-button>
                      </div>
                    </ion-item>
                    <ion-item-options>
                      <button ion-button color="danger" (click)="removeStudent(thisStudent)">
                        <ion-icon name="trash"></ion-icon>
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngFor="let thisStudent of therapistStudents">
              <ion-card class="cardElement" *ngIf="this.studentList.get(thisStudent).location === this.checkinService.CHECKED_OUT" (click)="studentTapped(this.studentList.get(thisStudent)._id)">
                  <ion-item-sliding>
                    <ion-item class="absentRow">
                      <ion-icon name="walk" item-left></ion-icon>
                      {{this.studentList.get(thisStudent).fName}} {{this.studentList.get(thisStudent).lName}}
                      <div item-right>
                        <page-student-info-button [thisStudentLocation]="this.studentList.get(thisStudent).location"></page-student-info-button>
                      </div>
                    </ion-item>
                    <ion-item-options>
                      <button ion-button color="danger" (click)="removeStudent(thisStudent)">
                        <ion-icon name="trash"></ion-icon>
                      </button>
                    </ion-item-options>
                  </ion-item-sliding>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
  <ion-grid class="push-to-bottom">
    <ion-row class="buttonRow">
      <ion-col>
        <button class="addButton" ion-button block (click)="add()"> + Add Favorite</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-content *ngIf="isEmpty()">
<ion-list>
<div class="vertical-align-content">
  <ion-grid>
    <ion-row class="emptyRow">
      <ion-col>
        <ion-item class="emptyItem">
          <ion-icon class="emptyIcon" name="archive"></ion-icon>
        </ion-item>
        <ion-item class="emptyText">
          You dont have any favorited students.
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="push-to-bottom">
    <ion-row class="buttonRow">
      <ion-col>
        <button class="addButton" ion-button block (click)="add()"> + Add Favorite</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-list>
</ion-content>
