page-list {
  .bgc {
    background-color: #eee5de;
    height: 100%;
    width: 100%;
  }

  .vertical-align-content
  {
    //display: flex!important;
    align-content: center!important;
  }

  .bg {
    background-color: #eee5de;
  }

  .countRow{
    position: absolute;
    bottom: 3vh;
    padding-right: 5%;
  }

  .emptyGrid {
    position: absolute;
    top: 20vh;
  }

  .countHeader{
    font-size: 2em;
  }

  .presentCount{
    font-size: 5em;
  }

  .buttonRow {
    align-self: center;
    width: 50%;
  }

  .push-to-bottom {
    background-color: #eee5de;
    position: absolute;
    bottom: 10vh;
    width: 100%;
  }

  .centerButton {
    align-self: center;
    width: 50%;
  }

  .absentRow {
    opacity: .5;
  }

  .infoButton {
    align-self: center;;
    width: 50%;
  }

  .centerText {
    text-align: center;
  }

  .titleRow {
    align-self: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 300%;
  }

  .titleRoom {
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 200%;
  }

  .scrollable {
    background-color: #eee5de;
    align-self: center;
    height: 1000px;
    max-height: 80vh;
  }

  .scrollableInside {
    height: auto;
  }

  .fill {
    height: 1000px;
    max-height: 66vh;
  }

  .emptyRow {
    background-color: #eee5de;
    padding-top: 15vh;
    align-self: center;
    width: 80%;
  }

  .emptyItem {
    background-color: #eee5de;
    align-self: center;
    text-align: center;
  }

  .emptyIcon {
    width: 75px;
    height: 75px;
    color: gray;
    font-size: 800%
  }

  .emptyText {
    background-color: #eee5de;
    align-self: center;
    text-align: center;
    color: gray;
    font-size: 150%;
  }

  .infoCol{
    padding-top: 30px;
    font-size: 150%;
  }

}
