page-list {
  .vertical-align-content
  {
    //display: flex!important;
    align-content: center!important;
  }

  .buttonRow {
    align-self: center;
    width: 50%;
  }

  .centerButton {
    align-self: center;;
    width: 50%;
  }

  .infoButton {
    align-self: center;;
    width: 50%;
  }

  .centerText {
    text-align: center;
  }

  .titleRow {
    align-self: center;
    align-items: center;
    align-content: center;
    padding-bottom: 40px;
    font-size: 300%;
  }
}
