<ion-header>

  <ion-navbar>
    <ion-title>{{parentPage | parentReadable | firstUpper}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding (click)="resetInterval()">
  <ion-list inset>
    <div *ngIf="parentPage === 'presentStudents'">
      <ion-grid class="horizontal-align-center">
        <ion-row class="buttonRow">
          <ion-col>
            <div class="titleRoom">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-content class="scrollable">
        <div *ngFor="let student of this.studentService.data | mapValues" class="scrollableInside">
          <div *ngIf="this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT">
            <ion-item  (click)="studentTapped($event, this.studentService.data.get(student.key)._id)">
              <ion-icon name="walk" item-left></ion-icon>
              {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
              <div item-right>
                <page-student-info-button [thisStudentLocation]="this.studentService.data.get(student.key).location"></page-student-info-button>
              </div>
            </ion-item>
          </div>
        </div>
        <div *ngFor="let student of this.studentService.data | mapValues">
          <div *ngIf="this.studentService.data.get(student.key).location === checkinService.CHECKED_OUT">
            <ion-item class="absentRow"  (click)="studentTapped($event, this.studentService.data.get(student.key)._id)">
              <ion-icon name="walk" item-left></ion-icon>
              {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
              <div item-right>
                <page-student-info-button [thisStudentLocation]="this.studentService.data.get(student.key).location"></page-student-info-button>
              </div>
            </ion-item>
          </div>
        </div>
      </ion-content>
    <ion-grid>
      <ion-row class="countRow">
        <ion-col class="countHeader">
            Total Students Present:
        </ion-col>
        <ion-col class="presentCount">
            {{this.studentService.data|presentCount}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <div *ngIf="parentPage === 'napStudents'">
      <div *ngFor="let student of this.studentService.data | mapValues">
        <div *ngIf="this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT">
          <h3 ion-item>
            <ion-icon name="walk" item-left></ion-icon>
            {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
            <div item-right>
              <page-nap-buttons [thisStudent]="this.studentService.data.get(student.key)._id" (napTime)='updateNap($event, this.studentService.data.get(student.key)._id)'></page-nap-buttons>
            </div>
          </h3>
        </div>
      </div>
    </div>

    <div *ngIf="parentPage === 'therapy'">
      <div *ngFor="let student of this.studentService.data | mapValues">
        <div *ngIf="this.studentService.data.get(student.key).location.includes(checkinService.CHECKED_OUT_THERAPY)">
          <h3 ion-item>
            <ion-icon name="walk" item-left></ion-icon>
            {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
            <div item-right>
              <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" [studentLocation]="this.studentService.data.get(student.key).location" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
            </div>
          </h3>
        </div>
      </div>
      <div *ngFor="let student of this.studentService.data | mapValues">
        <div *ngIf="!this.studentService.data.get(student.key).location.includes(checkinService.CHECKED_OUT_THERAPY) && this.studentService.data.get(student.key).location !==  checkinService.CHECKED_OUT  && this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT_NURSE">
          <h3 ion-item>
            <ion-icon name="walk" item-left></ion-icon>
            {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
            <div item-right>
              <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" [studentLocation]="this.studentService.data.get(student.key).location" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
            </div>
          </h3>
        </div>
      </div>
    </div>

    <div *ngIf="parentPage === 'nurse'">
      <div *ngFor="let student of this.studentService.data | mapValues">
        <div *ngIf="this.studentService.data.get(student.key).location === checkinService.CHECKED_OUT_NURSE">
          <h3 ion-item>
            <ion-icon name="walk" item-left></ion-icon>
            {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
            <div item-right>
              <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" [studentLocation]="this.studentService.data.get(student.key).location" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
            </div>
          </h3>
        </div>
      </div>
      <div *ngFor="let student of this.studentService.data | mapValues">
        <div *ngIf="this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT && this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT_THERAPY && this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT_NURSE">
          <h3 ion-item>
            <ion-icon name="walk" item-left></ion-icon>
            {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
            <div item-right>
              <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
            </div>
          </h3>
        </div>
      </div>
    </div>

    <div *ngIf="parentPage === 'signout'">
      <div *ngFor="let student of this.studentService.data | mapValues">
        <div *ngIf="this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT">
          <h3 ion-item>
            <ion-icon name="walk" item-left></ion-icon>
            {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
            <div item-right>
              <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
            </div>
          </h3>
        </div>
      </div>
    </div>

    <div *ngIf="parentPage === 'checkin'">
      <div *ngFor="let student of this.studentService.data | mapValues">
        <div *ngIf="this.studentService.data.get(student.key).location === checkinService.CHECKED_OUT">
          <h3 ion-item>
            <ion-icon name="walk" item-left></ion-icon>
            {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
            <div item-right>
              <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
            </div>
          </h3>
        </div>
      </div>
    </div>

  </ion-list>
  <div class="vertical-align-content">
    <ion-grid>
      <ion-row class = "titleRow">
        <ion-col>
          <div class = "centerText" *ngIf="isListEmpty() && this.parentPage === 'checkin'">
            No Students To Check In
          </div>
          <div class = "centerText" *ngIf="isListEmpty() && this.parentPage === 'signout'">
            No Students To Check Out
          </div>
          <div *ngIf="this.parentPage === 'therapy' || this.parentPage === 'napStudents'|| this.parentPage === 'nurse'">
            <div class = "centerText" *ngIf="isListEmpty()">
              No Students Present
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="buttonRow">
        <ion-col>
          <div *ngIf="parentPage === 'signout' && !isListEmpty()">
            <button ion-button block (click)="removeStudents()">Checkout</button>
          </div>
          <div *ngIf="parentPage === 'checkin' && !isListEmpty()">
            <button ion-button block (click)="addStudents()">Check In</button>
          </div>
          <div *ngIf="parentPage === 'napStudents' && !isListEmpty()">
            <button ion-button block (click)="updateAll(this.studentService)">Update</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
