<ion-header>

  <ion-navbar>
    <ion-title>{{parentPage | parentReadable | firstUpper}}</ion-title>
  </ion-navbar>

</ion-header>


<div class="fixed-content" scroll=false class="bgc" (click)="resetInterval()">
  <div *ngIf="parentPage === 'presentStudents'">
    <ion-list inset class="fill">
      <ion-grid class="horizontal-align-center">
        <ion-row class="buttonRow">
          <ion-col>
            <div class="titleRoom">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-content class="presentScrollable" (onscroll)="resetInterval()">
        <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID" class="scrollableInside">
          <div *ngIf="this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT  && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
            <ion-card>
              <ion-item  (click)="studentTapped($event, this.studentService.data.get(student.key)._id)">
                <ion-icon name="walk" item-left></ion-icon>
                {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
                <div item-right>
                  <page-student-info-button [thisStudentLocation]="this.studentService.data.get(student.key).location"></page-student-info-button>
                </div>
              </ion-item>
            </ion-card>
          </div>
        </div>
        <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID">
          <div *ngIf="this.studentService.data.get(student.key).location === checkinService.CHECKED_OUT  && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
            <ion-card>
              <ion-item class="absentRow"  (click)="studentTapped($event, this.studentService.data.get(student.key)._id)">
                <ion-icon name="walk" item-left></ion-icon>
                {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
                <div item-right>
                  <page-student-info-button [thisStudentLocation]="this.studentService.data.get(student.key).location"></page-student-info-button>
                </div>
              </ion-item>
            </ion-card>
          </div>
        </div>
      </ion-content>
    </ion-list>
  </div>
    <div *ngIf="parentPage === 'napStudents'">
      <ion-content class="scrollable">
        <ion-grid class="horizontal-align-center">
          <ion-row class="buttonRow">
            <ion-col>
              <div class="titleRoom">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-list inset>
        <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID">
          <div *ngIf="this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT  && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
            <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col width-33 class="infoCol">
                      <ion-icon name="walk" item-left></ion-icon>
                      {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
                    </ion-col>
                    <ion-col width-67>
                      <page-nap-slider [thisStudent]="this.studentService.data.get(student.key)._id" (napTime)='updateNap($event, this.studentService.data.get(student.key)._id)'></page-nap-slider>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-list>
      </ion-content>
    </div>

    <div *ngIf="parentPage === 'therapy'">
      <ion-content class="scrollable">
        <ion-grid class="horizontal-align-center">
          <ion-row class="buttonRow">
            <ion-col>
              <div class="titleRoom">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-list inset>
      <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID">
        <div *ngIf="this.studentService.data.get(student.key).location.includes(checkinService.CHECKED_OUT_THERAPY) && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
          <ion-card>
            <ion-item>
              <ion-icon name="walk" item-left></ion-icon>
              {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
              <div item-right>
                <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" [studentLocation]="this.studentService.data.get(student.key).location" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
      <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID">
        <div *ngIf="!this.studentService.data.get(student.key).location.includes(checkinService.CHECKED_OUT_THERAPY) && this.studentService.data.get(student.key).location !==  checkinService.CHECKED_OUT  && this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT_NURSE  && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
          <ion-card>
            <ion-item>
              <ion-icon name="walk" item-left></ion-icon>
              {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
              <div item-right>
                <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" [studentLocation]="this.studentService.data.get(student.key).location" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
    </ion-list>
    </ion-content>
    </div>

    <div *ngIf="parentPage === 'generic'">
      <ion-content class="scrollable">
        <ion-grid class="horizontal-align-center">
          <ion-row class="buttonRow">
            <ion-col>
              <div class="titleRoom">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-list inset>
      <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID">
        <div *ngIf="this.studentService.data.get(student.key).location === checkinService.CHECKED_OUT_NURSE  && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
          <ion-card>
            <ion-item>
              <ion-icon name="walk" item-left></ion-icon>
              {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
              <div item-right>
                <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" [studentLocation]="this.studentService.data.get(student.key).location" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
      <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID">
        <div *ngIf="this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT && this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT_THERAPY && this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT_NURSE  && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
          <ion-card>
            <ion-item>
              <ion-icon name="walk" item-left></ion-icon>
              {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
              <div item-right>
                <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
    </ion-list>
    </ion-content>
    </div>

    <div *ngIf="parentPage === 'signout'">
      <ion-content class="scrollable">
        <ion-grid class="horizontal-align-center">
          <ion-row class="buttonRow">
            <ion-col>
              <div class="titleRoom">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-list inset>
      <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID">
        <div *ngIf="this.studentService.data.get(student.key).location !== checkinService.CHECKED_OUT  && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
          <ion-card>
            <ion-item>
              <ion-icon name="walk" item-left></ion-icon>
              {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
              <div item-right>
                <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
    </ion-list>
    </ion-content>
    </div>

    <div *ngIf="parentPage === 'checkin'">
      <ion-content class="scrollable">
        <ion-grid class="horizontal-align-center">
          <ion-row class="buttonRow">
            <ion-col>
              <div class="titleRoom">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-list inset>
      <div *ngFor="let student of this.studentService.data | mapValues | filterParents:this.userID">
        <div *ngIf="this.studentService.data.get(student.key).location === checkinService.CHECKED_OUT  && this.classroomService.data.get(this.roomNumber).students.includes((student.key))">
          <ion-card>
            <ion-item>
              <ion-icon name="walk" item-left></ion-icon>
              {{this.studentService.data.get(student.key).fName}} {{this.studentService.data.get(student.key).lName}}
              <div item-right>
                <page-action-button [thisStudent]="this.studentService.data.get(student.key)._id" [userID]="this.userID" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
              </div>
            </ion-item>
          </ion-card>
        </div>
      </div>
    </ion-list>
    </ion-content>
    </div>
    <div *ngIf="parentPage === 'presentStudents'" class="vertical-align-content">
      <ion-grid class="push-to-bottom">
        <ion-row class="countRow">
          <ion-item class="bg">
            <span class="countHeader" item-right style="padding-top: 40px;">
              Total Students Present:
            </span>
            <span class="presentCount" item-right>
              {{this.studentService.data|presentCount}}
            </span>
          </ion-item>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="isListEmpty() && parentPage !== 'presentStudents'">
    <ion-grid class="emptyGrid">
      <ion-row class="emptyRow" *ngIf="isListEmpty()">
        <ion-col>
          <div *ngIf="this.parentPage === 'checkin'">
            <ion-item class="emptyItem">
              <ion-icon class="emptyIcon" name="archive"></ion-icon>
            </ion-item>
            <ion-item class="emptyText">
              All your students are currently checked in.
            </ion-item>
          </div>
          <div *ngIf="this.parentPage === 'signout'">
            <ion-item class="emptyItem">
              <ion-icon class="emptyIcon" name="archive"></ion-icon>
            </ion-item>
            <ion-item class="emptyText">
              All your students are currently checked out.
            </ion-item>
          </div>
          <div *ngIf="this.parentPage === 'therapy' || this.parentPage === 'napStudents'|| this.parentPage === 'generic'">
            <ion-item class="emptyItem">
              <ion-icon class="emptyIcon" name="archive"></ion-icon>
            </ion-item>
            <ion-item class="emptyText">
              No students are present in this class.
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
    <div *ngIf="parentPage !== 'presentStudents'" class="vertical-align-content">
      <ion-grid class="push-to-bottom">
      <ion-row class="buttonRow">
        <ion-col>
          <div *ngIf="parentPage === 'signout' && !isListEmpty()">
            <button ion-button block (click)="removeStudents()">Checkout</button>
          </div>
          <div *ngIf="parentPage === 'checkin' && !isListEmpty()">
            <button ion-button block (click)="addStudents()">Check In</button>
          </div>
          <div *ngIf="parentPage === 'napStudents' && !isListEmpty()">
            <button ion-button block (click)="updateAll(this.studentService)">Update</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
