<ion-list inset>
  <h3 ion-item *ngFor="let student of students">
    <ion-icon name="{{student.icon}}" item-left></ion-icon>
    {{student.fName}} {{student.lName}} <!--{{studentService.data[1].fName}} calling to studentService directly seems to provide instant updates, need to look into why we shouldn't do this-->

    <div item-right *ngIf="parentPage === 'presentStudents'">
      <page-student-info-button [thisStudent]="student"></page-student-info-button>
    </div>
    <div item-right *ngIf="parentPage === 'napStudents'">
      <page-nap-buttons [thisStudent]="student"></page-nap-buttons>
    </div>
    <div item-right *ngIf="parentPage === 'therapy' || parentPage === 'nurse' || parentPage === 'signout' || parentPage === 'checkin'">
      <page-action-button [thisStudent]="student" [userID]="this.userID" (checkedOut)='revert($event)' [grandParentPage]="parentPage"></page-action-button>
    </div>
  </h3>
  <div *ngIf="parentPage === 'signout'">
    <button ion-button full (click)="removeStudents()">Checkout</button>
  </div>
  <div *ngIf="parentPage === 'checkin'">
    <button ion-button full (click)="addStudents()">Check In</button>
  </div>
</ion-list>

