page-list {
  .vertical-align-content
  {
    //display: flex!important;
    align-content: center!important;
  }
  .countRow{
    position: absolute;
    bottom: 0px;
  }

  .countHeader{
    font-size: 2em;
  }

  .presentCount{
    font-size: 5em;
  }

  .buttonRow {
    align-self: center;
    width: 50%;
  }

  .centerButton {
    align-self: center;
    width: 50%;
  }

  .absentRow {
    opacity: .5;
  }

  .infoButton {
    align-self: center;;
    width: 50%;
  }

  .centerText {
    text-align: center;
  }

  .titleRow {
    align-self: center;
    align-items: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 300%;
  }

  .titleRoom {
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 200%;
  }

  .scrollable {
    align-self: center;
    height: 1000px;
    max-height: 85vh;
  }

  .scrollableInside {
    height: auto;
  }

  .fill {
    height: 1000px;
    max-height: 80vh;
  }

  .emptyRow {
    padding-top: 15vh;
    align-self: center;
    width: 60%;
  }

  .emptyItem {
    align-self: center;
    text-align: center;
  }

  .emptyIcon {
    width: 75px;
    height: 75px;
    color: gray;
    font-size: 800%
  }

  .emptyText {
    align-self: center;
    text-align: center;
    color: gray;
    font-size: 150%;
  }
}
