<ion-grid class="horizontal-align-center">
  <ion-row>
    <ion-col>
      <div *ngIf="parentPage === 'checkin' || parentPage === 'signout' || parentPage === 'therapy' || parentPage === 'nurse'">
        <div class="titleRoom">
          Room {{this.roomNumber}}
        </div>
      </div>
      <div *ngIf="parentPage === 'kitchen'">
        <div class="titleRoom">
          Kitchen Login
        </div>
      </div>
      <div *ngIf="parentPage === 'admin'">
        <div class="titleRoom">
          Admin Login
        </div>
      </div>
      <div *ngIf="parentPage === 'therapist'">
        <div class="titleRoom">
          Therapist Login
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="inputRow">
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-input #userId type="text" placeholder="Enter Your ID Number"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row class="buttonRow">
    <ion-col>
      <button ion-button block (click)='checkUser(userId)'>Submit</button>
    </ion-col>
  </ion-row>
  <ion-row class="buttonRow">
    <ion-col>
      <div *ngIf="parentPage !== 'checkin' && parentPage !== 'signout' && parentPage !== 'therapy' && parentPage !== 'nurse'">
        <button ion-button block (click)='back()'>Back</button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
