page-classroom-id {

  .vertical-align-content
  {
    //display: flex!important;
    align-content: center!important;
  }

  .scroll-content {
    background-color: #eee5de;
  }

  .blockGrid {
    display: block;
  }

  .buttonRow {
    align-self: center;
    width: 55%;
  }

  .titleRow {
    padding-top: 5vh;
    align-self: center;
    width: 55%;
    padding-bottom: 5vh;
  }

  .emptyRow {
    padding-top: 15vh;
  }

  .fill-parent{
    height:100%;
    width: 100%;
    display: block;
  }

  .login-flex-container{
    align-items:center;

    width:100%;
    height:100%;

    display:block;

  }

  .outer-flex-element{
    justify-content: center;
    align-items: center;

    display:block;

  }
  .outer-flex-element.room-title-element{
    height:25%
  }

  .room-title {
    align-items: center;
    align-content: center;
    justify-content: center;

    font-size: 120%;
  }

  .card-title{
    font-size: 150%;
  }

  .card-element{

  }

  .card-row{
    width: 95%;
    height: 50%;
    justify-content: center;
    align-items:center;
    display: block;
  }

  .card-row-child{
    width:100%;
  }

  .inputRowCard {
    align-items: center;
  }

  .buttonRowCard {
    align-self: center;
    width: 50%;
    padding-bottom: 5vh;
  }


  // ::-webkit-input-placeholder {
  //  text-align:center;
  // }

  .ion-item-wrapper {
    border:1px solid #000000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
  }

  .item-ios {
    padding-left: 0px;
  }

  .text-input {
    text-align: center;
    padding-right: 0px !important;
  }

  .input-style{
    padding: 4px;
    //padding-left: 30px;
  }

  .submit-button{
    padding-bottom:2%;
  }

  @media only screen and (min-width: 1024px){
    .room-title {
      font-size: 325%;
    }

    .card-title{
      font-size: 375%;
    }
    .card-row{
      width:50%
    }
  }

  //For bigger than mobile
  @media only screen and (min-width: 768px) and (max-width: 1023px){
    .room-title {
      font-size: 250%;
    }

    .card-title{
      font-size: 300%;
    }
    .card-row{
      width:60%
    }
  }

  @media only screen and (min-width: 425px) and (max-width:767px){
    .room-title {
      font-size: 170%;
    }

    .card-title{
      font-size: 220%;
    }
  }

  @media only screen and (orientation: portrait) {
    // .outer-flex-element.room-title-element{
    //   height:15%;
    // }

    // .card-element{
    //   height:40%;
    // }
  }


}
