<ion-grid class="fill-parent">

  <div id="login-card" class="login-flex-container">
    <div class="outer-flex-element room-title-element">
      <div class="room-title">
          <div *ngIf="parentPage === 'checkin' || parentPage === 'signout' || parentPage === 'therapy' || parentPage === 'nurse' || parentPage === 'napStudents' || parentPage === 'presentStudents'">
            <div class="titleRoom">
              Room {{this.roomNumber}}
            </div>
          </div>
          <div *ngIf="parentPage === 'kitchen'">
            <div class="titleRoom">
              Kitchen
            </div>
          </div>
          <div *ngIf="parentPage === 'admin'">
            <div class="titleRoom">
              Admin
            </div>
          </div>
          <div *ngIf="parentPage === 'therapist'">
            <div class="titleRoom">
              Therapist
            </div>
          </div>
      </div>
    </div>
    <ion-card class="outer-flex-element card-element">

      <div class="card-row">
        <div class="card-row-child card-title">
          <div *ngIf="parentPage === 'checkin' || parentPage === 'signout' || parentPage === 'therapy' || parentPage === 'nurse' || parentPage === 'napStudents' || parentPage === 'presentStudents'">
            <div class="titleRoom">
              {{parentPage|parentReadable|firstUpper}}
            </div>
          </div>
          <div *ngIf="parentPage === 'kitchen' || parentPage === 'admin' || parentPage === 'therapist'">
            <div class="titleRoom">
              Login
            </div>
          </div>
        </div>
      </div>
      <div id='login-input' class= 'card-row'>
        <div class="card-row-child">
          <div class="inputRow">
              <ion-input #userId text-center class="input-style" type="tel" (keyup.enter)='checkUser(userId)' placeholder="Enter Your ID Number"></ion-input>
          </div>

          <div class="buttonRow">
              <button ion-button block (click)='checkUser(userId)'>Submit</button>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-grid>
