page-classroom-id {

  .fill-parent{
    height:100%;
    width: 100%;
    display: flex;
  }
  
  .login-flex-container{
    align-items:center;

    width:100%;
    height:100%;

    display:flex;
    flex-flow: column nowrap;

  }

  .outer-flex-element{
    justify-content: center;
    align-items: center;

    display:flex;
    
    width:55%;

  }
  .outer-flex-element.room-title-element{
    height:25%
  }

  .room-title {
    align-items: center;
    align-content: center;
    justify-content: center;

    font-size: 300%;
  }

  .card-title{
    font-size: 400%;
  }

  .card-element{
    height:50%;
    flex-flow: column nowrap;
  }

  .card-row{
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items:center;
    display: flex;
  }

  .card-row-child{
    width:100%;
  }


  ::-webkit-input-placeholder {
   text-align:center; 
  }

  .input-style{
    padding: 4px;
    padding-left: 30px;
  }



}
