page-classroom-id {

  .horizontal-align-center{
    padding: 120px 0;
  }
  .row {
    margin-top: 10%;
    margin-bottom: 20%;
  }
  .buttonRow {
    align-self: center;
    width: 50%;
  }
  .inputRow {
    align-self: center;
    width: 75%;
  }
  .titleRoom {
    padding-bottom: 40px;
    font-size: 300%;
  }
}
