page-admin-student-tab {
  .fixedSearchbar{
    position:fixed;
    z-index: 100;
    top: 44px;
    width: 100%;
  }
  .listContainer{
    margin-top:120px;
    height:60%;
    width:90%;
  }
  .addFab{
    width: 150px;
    height: 75px;
    position: fixed;
    z-index: 100;
    bottom: 60px;
    right: 20px;
  }
}
