<div *ngIf="grandParentPage !== 'checkin' && grandParentPage !== 'signout' && studentLocation !== 'Therapist checked student out' && studentLocation !== 'Nurse checked student out'">
  <button ion-button color="default" small (click)="checkoutStudent()" id="checkoutButton_{{thisStudent}}">Checkout</button>
</div>
<div *ngIf="grandParentPage !== 'checkin' && grandParentPage !== 'signout' && (studentLocation === 'Therapist checked student out' || studentLocation === 'Nurse checked student out')">
  <button ion-button color="danger" small (click)="TNcheckinStudent()" id="TNcheckinButton_{{thisStudent}}">Check In</button>
</div>
<div *ngIf="grandParentPage === 'checkin'">
  <div *ngIf="!this.selected">
    <button ion-button color="default" small (click)="checkinStudent()" id="checkinButton_{{thisStudent}}">Check In</button>
  </div>
  <div *ngIf="this.selected">
    <button ion-button color="danger" small id="selectedButton_{{thisStudent}}" (click)="signinDeselectStudent()" style="display: block;">Selected</button>
  </div>
</div>
<div *ngIf="grandParentPage === 'signout'">
  <button ion-button color="default" small (click)="checkoutStudent()" id="outCheckoutButton_{{thisStudent}}">Checkout</button>
  <button ion-button color="danger" small id="outSelectedButton_{{thisStudent}}" (click)="signoutDeselectStudent()" style="display: none;">Selected</button>
</div>
