page-admin-reporting {
  .weekText{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:12px;
    margin-right:12px;
  }
  .arrowButton{
    height:100%;
    width:100%;
  }
  .submit-button{
    font-size: 150%;
    width: auto;
  }
  .paddedCard {
    margin: 12px 12px 20px 12px !important;
  }
  .totalBar{
    display: flex;
    align-items: flex-end;
    background-color:rgba(0,0,0,0.08);
  }
  .titleBar{
    display: flex;
    align-items: flex-end;
    height: 1vh;
    background-color:rgba(0, 0, 0, 0.13);
  }
  .totaledItem{
    flex-grow: 1;
    border: 3px;
    align-self: flex-end;
    text-align: center;
  }
  .attendanceWarning{
    flex-grow: 1;
    height:100%;
    background-color:rgba(255,153,0,0.4);
    border: 3px;
    align-self: flex-end;
    text-align: center;
  }
  .billedWarning{
    flex-grow: 1;
    height:100%;
    background-color:rgba(255,0,0,0.4);
    border: 3px;
    align-self: flex-end;
    text-align: center;
  }
  .loading{
    background-color:lightgray;
  }
  .therapyWarning{
    flex-grow: 1;
    height:100%;
    background-color:rgba(255,0,255,0.4);
    border: 3px;
    align-self: flex-end;
    text-align: center;
  }
  .blank{
    flex-grow: 1;
    height: 100%;
    background-color:rgba(255,255,255,0.08);
    border: 3px;
    align-self: flex-end;
    text-align: center;
  }
  .bgc {
    background: url(../assets/logo/Dark_Background.jpg);
    background-size: 100% 100%;
  }
  .loading {
    background: transparent;
    color: white;
    width: auto;
  }
  .container{
    height: 30px;
    display: flex;
    align-items: flex-end;
  }
  p:hover {
    background-color: #6e7684;
  }
  .highlightRow{
    margin: 0 0 0px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    color: black;
  }
  .nameContainer{
    font-size: 120%;
    font-weight: bold;
    text-align: left;
    flex: 2 1 40px;
    align-self: flex-end;
  }
  .totalNameContainer{
    font-size: 120%;
    font-weight: bold;
    text-align: left;
  }
  .errorsContainer{
    display: flex;
    flex-grow: 1;
    align-self:stretch;
  }
  .hoursContainer{
    font-size: 120%;
    font-weight: bold;
    text-align: right;
    flex-grow: 1;
    flex-basis: 30px;
  }
}
