<ion-header>

  <ion-navbar>
    <ion-title center-text>Admin: Reporting Tab</ion-title>
    <page-home-button></page-home-button>
  </ion-navbar>

</ion-header>


<ion-content class="bgc">
  <ion-grid>
    <ion-row>
      <ion-col width-33>
        <ion-card class="weekText">
          <ion-row style="height:100%">
            <ion-col>
              <ion-item>
                <ion-input type="date" [(ngModel)]="this.weekStart" (change)="dateInputChanged()"></ion-input>
               <!--    -->
              </ion-item>
            </ion-col>
            <!-- <ion-col width-10 no-padding>
              <button class="arrowButton" (click)="changeWeek(-1)">
                <ion-icon name="arrow-back" ></ion-icon>
              </button>
            </ion-col>
            <ion-col width-80 text-center style="font-size:100%">
              12/12/12-17/12/12
            </ion-col>
            <ion-col width-10 no-padding>
              <button class="arrowButton">
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col> -->
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col width-33>
      </ion-col>
      <ion-col width-33>
        <button class="arrowButton" (click)="exportData()">Export Attendance Data</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="displayInfo">
          <ion-card *ngFor="let room of this.map | mapValues" (click)="toggleRoom(room.key)">
            <ion-card-header style="background-color:rgba(0, 0, 0, 0.13)">
              <ion-row>
                <ion-col width-20>
                  Room {{room.val.room_number}}
                </ion-col>
                <ion-col width-50>
                </ion-col>
                    <div class="errorsContainer" *ngIf="true">
                      <div *ngIf="this.roomBillingWeekTotals.get(room.val.room_number + '').attendanceWarning" class="attendanceWarning"></div>
                      <div *ngIf="!this.roomBillingWeekTotals.get(room.val.room_number + '').attendanceWarning" class="blank"></div>
                      <div *ngIf="this.roomBillingWeekTotals.get(room.val.room_number + '').billingWarning" class="billedWarning"></div><div *ngIf="!this.roomBillingWeekTotals.get(room.val.room_number + '').billingWarning" class="billedWarning"></div>
                      <div *ngIf="this.roomBillingWeekTotals.get(room.val.room_number + '').therapyWarning" class="therapyWarning"></div>
                      <div *ngIf="!this.roomBillingWeekTotals.get(room.val.room_number + '').therapyWarning" class="blank"></div>
                    </div>
              </ion-row>
            </ion-card-header>
            <!--TODO: Add if room.on back in-->
            <div *ngIf="room.val.weeks.length > 0 && isRoomOn(room.key)">
              <div *ngFor="let student of room.val.weeks[0].students" class="container" (click)="showDetails(student)">

                <div class="nameContainer">{{this.studentService.data.get(student.student_id).fName}} {{this.studentService.data.get(student.student_id).lName}}</div>

                <!-- contains the gross hours -->
                <div *ngIf="studentBillingDayTotals.get(student.student_id).attendanceWarning" class="attendanceWarning">{{ ( studentBillingDayTotals.get(student.student_id).gross_hours ).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).attendanceWarning" class="blank">{{ ( studentBillingDayTotals.get(student.student_id).gross_hours ).toFixed(2) }}</div>

                <div class="blank">{{ (studentBillingDayTotals.get(student.student_id).nap_hours).toFixed(2) }}</div>

                <!-- contains the therapy hours -->
                <div *ngIf="studentBillingDayTotals.get(student.student_id).therapyWarning" class="therapyWarning">{{ (studentBillingDayTotals.get(student.student_id).SP_therapy_hours).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).therapyWarning" class="blank">{{ (studentBillingDayTotals.get(student.student_id).SP_therapy_hours).toFixed(2) }}</div>

                <div *ngIf="studentBillingDayTotals.get(student.student_id).therapyWarning" class="therapyWarning">{{ (studentBillingDayTotals.get(student.student_id).PT_therapy_hours).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).therapyWarning" class="blank">{{ (studentBillingDayTotals.get(student.student_id).PT_therapy_hours).toFixed(2) }}</div>

                <div *ngIf="studentBillingDayTotals.get(student.student_id).therapyWarning" class="therapyWarning">{{ (studentBillingDayTotals.get(student.student_id).OT_therapy_hours).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).therapyWarning" class="blank">{{ (studentBillingDayTotals.get(student.student_id).OT_therapy_hours).toFixed(2) }}</div>



                <div class="blank">{{ (studentBillingDayTotals.get(student.student_id).net_hours).toFixed(2) }}</div>

                <div class="blank">{{ (studentBillingDayTotals.get(student.student_id).billable_hours).toFixed(2) }}</div>

                <div class="blank">{{16.46}}</div>

                <div class="blank">{{ (studentBillingDayTotals.get(student.student_id).billable_hours * 16.46).toFixed(2) }}</div>

                <!-- contains the average/per day -->
                <div *ngIf="studentBillingDayTotals.get(student.student_id).billingWarning" class="billedWarning">{{ (studentBillingDayTotals.get(student.student_id).billable_hours / 5).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).billingWarning" class="blank">{{ (studentBillingDayTotals.get(student.student_id).billable_hours / 5).toFixed(2) }}</div>
              </div>
            </div>
            <div class="totalBar">
              <ion-row>
                <ion-col class="totaledItem" style="flex:2 1 40px;">
                  Total:
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Gross Hours</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").gross_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Nap</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").nap_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>SP</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").SP_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>PT</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").PT_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>OT</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").OT_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Net Hours</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").net_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Billed Hours</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").billable_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Rate</ion-label>
                    <div >16.46</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Total Billed</ion-label>
                    <div>{{(this.roomBillingWeekTotals.get(room.key+"").billable_hours * 16.46).toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Average Day</ion-label>
                    <div>{{(this.roomBillingWeekTotals.get(room.key+"").billable_hours /(5 * room.val.weeks[0].students.length)).toFixed(2)}}</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-list>
        <button ion-button *ngIf="!displayInfo" (click)="fillWeek()"></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
