<ion-header>

  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <ion-title center-text>Admin: Reporting Tab</ion-title>
        </ion-col>
        <ion-col width-50>
          <page-home-button></page-home-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content class="bgc">
  <ion-grid>
    <ion-row>
      <ion-col width-33>
        <ion-card class="weekText">
          <ion-row style="height:100%">
            <ion-col>
              <ion-item>
                <!-- the date picker -->
                <ion-input type="date" [(ngModel)]="this.viewableDate" (change)="dateInputChanged()"></ion-input>
              </ion-item>
            </ion-col>
            <!-- <ion-col width-10 no-padding>
              <button class="arrowButton" (click)="changeWeek(-1)">
                <ion-icon name="arrow-back" ></ion-icon>
              </button>
            </ion-col>
            <ion-col width-80 text-center style="font-size:100%">
              12/12/12-17/12/12
            </ion-col>
            <ion-col width-10 no-padding>
              <button class="arrowButton">
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col> -->
          </ion-row>
        </ion-card>
      </ion-col>
      <ion-col width-33>
      </ion-col>
      <ion-col width-33>
        <!-- the export button to get a csv of the info -->
        <button class="arrowButton" (click)="exportData()">Export Attendance Data</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Each room has its own card
             Each card has a header that says the room number and has an error container that uses flex box to format the individual warnings that may or may not exist on this rooms data
             Each card has a list of the student information that is only displayed on a toggle of clicking the room_number
             The students have their week totals displayed and warning flags on the fields that have a problem for that week
             Each card finishes with a total for the whole classroom -->
        <ion-list *ngIf="displayInfo">
          <ion-card *ngFor="let room of this.map | mapValues" (click)="toggleRoom(room.key)">
            <ion-card-header style="background-color:rgba(0, 0, 0, 0.13)">
              <ion-row>
                <ion-col width-20>
                  Room {{room.val.room_number}}
                </ion-col>
                <ion-col width-50>
                </ion-col>
                <div class="errorsContainer" *ngIf="this.roomBillingWeekTotals.get(room.val.room_number+'')">
                  <div *ngIf="this.roomBillingWeekTotals.get(room.val.room_number + '').attendanceWarning" class="attendanceWarning"></div>
                  <div *ngIf="!this.roomBillingWeekTotals.get(room.val.room_number + '').attendanceWarning" class="blank"></div>
                  <div *ngIf="this.roomBillingWeekTotals.get(room.val.room_number + '').billingWarning" class="billedWarning"></div><div *ngIf="!this.roomBillingWeekTotals.get(room.val.room_number + '').billingWarning" class="billedWarning"></div>
                  <div *ngIf="this.roomBillingWeekTotals.get(room.val.room_number + '').therapyWarning" class="therapyWarning"></div>
                  <div *ngIf="!this.roomBillingWeekTotals.get(room.val.room_number + '').therapyWarning" class="blank"></div>
                </div>
              </ion-row>
            </ion-card-header>
            <div *ngIf="room.val.weeks.length > 0 && isRoomOn(room.key)">
              <div *ngFor="let student of room.val.weeks[0].students" class="container" (click)="showDetails(student)">

                <div class="nameContainer">{{this.studentService.data.get(student.student_id).fName}} {{this.studentService.data.get(student.student_id).lName}}</div>

                <!-- contains the gross hours -->
                <div *ngIf="studentBillingDayTotals.get(student.student_id).attendanceWarning" class="attendanceWarning">{{ ( studentBillingDayTotals.get(student.student_id).gross_hours ).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).attendanceWarning" class="blank">{{ ( studentBillingDayTotals.get(student.student_id).gross_hours ).toFixed(2) }}</div>

                <div class="blank">{{ (studentBillingDayTotals.get(student.student_id).nap_hours).toFixed(2) }}</div>

                <!-- contains the therapy hours -->
                <div *ngIf="studentBillingDayTotals.get(student.student_id).therapyWarning" class="therapyWarning">{{ (studentBillingDayTotals.get(student.student_id).SP_therapy_hours).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).therapyWarning" class="blank">{{ (studentBillingDayTotals.get(student.student_id).SP_therapy_hours).toFixed(2) }}</div>

                <div *ngIf="studentBillingDayTotals.get(student.student_id).therapyWarning" class="therapyWarning">{{ (studentBillingDayTotals.get(student.student_id).PT_therapy_hours).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).therapyWarning" class="blank">{{ (studentBillingDayTotals.get(student.student_id).PT_therapy_hours).toFixed(2) }}</div>

                <div *ngIf="studentBillingDayTotals.get(student.student_id).therapyWarning" class="therapyWarning">{{ (studentBillingDayTotals.get(student.student_id).OT_therapy_hours).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).therapyWarning" class="blank">{{ (studentBillingDayTotals.get(student.student_id).OT_therapy_hours).toFixed(2) }}</div>



                <div class="blank">{{ (studentBillingDayTotals.get(student.student_id).net_hours).toFixed(2) }}</div>

                <div class="blank">{{ (studentBillingDayTotals.get(student.student_id).billable_hours).toFixed(2) }}</div>

                <div class="blank">{{16.46}}</div>

                <div class="blank">{{ (studentBillingDayTotals.get(student.student_id).billable_hours * 16.46).toFixed(2) }}</div>

                <!-- contains the average/per day -->
                <div *ngIf="studentBillingDayTotals.get(student.student_id).billingWarning" class="billedWarning">{{ (studentBillingDayTotals.get(student.student_id).billable_hours / 5).toFixed(2) }}</div>
                <div *ngIf="!studentBillingDayTotals.get(student.student_id).billingWarning" class="blank">{{ (studentBillingDayTotals.get(student.student_id).billable_hours / 5).toFixed(2) }}</div>
              </div>
            </div>
            <!-- If there is no billing week temporarily then angular will be upsert
                 So make sure that we don't display this info if there is not billing week -->
            <div class="totalBar" *ngIf="room.val.weeks.length > 0">
              <ion-row>
                <ion-col class="totaledItem" style="flex:2 1 40px;">
                  Total:
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Gross Hours</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").gross_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Nap</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").nap_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>SP</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").SP_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>PT</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").PT_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>OT</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").OT_therapy_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Net Hours</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").net_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Billed Hours</ion-label>
                    <div>{{this.roomBillingWeekTotals.get(room.key+"").billable_hours.toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Rate</ion-label>
                    <div >16.46</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Total Billed</ion-label>
                    <div>{{(this.roomBillingWeekTotals.get(room.key+"").billable_hours * 16.46).toFixed(2)}}</div>
                </ion-col>
                <ion-col class="totaledItem">
                    <ion-label   stacked>Average Day</ion-label>
                    <div>{{(this.roomBillingWeekTotals.get(room.key+"").billable_hours /(5 * room.val.weeks[0].students.length)).toFixed(2)}}</div>
                </ion-col>
              </ion-row>
            </div>
            <div class="totalBar" *ngIf="room.val.weeks.length <= 0">
              There is no billing information for this week.
            </div>
          </ion-card>
        </ion-list>
        <!-- button to generate the billing info if it is the first time the user enters the tab or if they change the week -->
        <button ion-button *ngIf="!displayInfo" (click)="fillWeek()">Load this page</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
