<ion-header>

  <ion-navbar>
    <ion-title center-text>Admin: Reporting Tab</ion-title>
    <page-home-button></page-home-button>
  </ion-navbar>

</ion-header>


<ion-content class="bgc">
  <ion-grid>
    <ion-row>
      <ion-col width-33>
        <ion-card class="weekText">
            <ion-row style="height:100%">
              <ion-col width-10 no-padding>
                <button class="arrowButton">
                  <ion-icon name="arrow-back"></ion-icon>
                </button>
              </ion-col>
              <ion-col width-80 text-center style="font-size:100%">
                12/12/12-17/12/12
              </ion-col>
              <ion-col width-10 no-padding>
                <button class="arrowButton">
                  <ion-icon name="arrow-forward"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
      <ion-col width-33>
      </ion-col>
      <ion-col width-33>
        <button class="arrowButton" (click)="exportData()">Export Attendance Data</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-card *ngFor="let room of rooms">
            <ion-card-header (click)="toggleRoom(room.number)" style="background-color:rgba(0, 0, 0, 0.13)">
              <ion-row>
                <ion-col width-20>
                  Room {{room.number}}
                </ion-col>
                <ion-col width-50>
                </ion-col>
                    <div class="errorsContainer" *ngIf="room.number===0">
                      <div class="attendanceWarning"></div>
                      <div class="billedWarning"></div>
                      <div class="therapyWarning"></div>
                    </div>
              </ion-row>
            </ion-card-header>
            <div *ngIf="room.on">
              <div *ngFor="let student of students" class="container" (click)="showDetails(student)">
                <div class="nameContainer">{{student.name}}</div>
                <div class="errorsContainer">
                  <div *ngIf="student.hours < 25" class="attendanceWarning"></div>
                  <div *ngIf="!(student.hours < 25)" class="blanckError"></div>
                  <div *ngIf="student.hours < 20" class="billedWarning"></div>
                  <div *ngIf="!(student.hours < 20)" class="blanckError"></div>
                  <div *ngIf="students.indexOf(student) % 2" class="therapyWarning"></div>
                  <div *ngIf="!(students.indexOf(student) % 2)" class="blanckError"></div>
                </div>
                <div class="hoursContainer">{{student.hours}}</div>
              </div>
            </div>
            <div class="totalBar">
              <ion-row>
                <ion-col>
                  Total:
                </ion-col>
                <ion-col>
                    <ion-label   stacked>Gross Hours</ion-label>
                    <div >237.25</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>Nap</ion-label>
                    <div >30.25</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>Sp</ion-label>
                    <div >9.00</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>PT</ion-label>
                    <div >7.50</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>OT</ion-label>
                    <div >4.75</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>Net Hours</ion-label>
                    <div >185.75</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>Billed Hours</ion-label>
                    <div >156.00</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>Rate</ion-label>
                    <div >16.46</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>Total Billed</ion-label>
                    <div >2,567.76</div>
                </ion-col>
                <ion-col>
                    <ion-label   stacked>Average Day</ion-label>
                    <div >7.8</div>
                </ion-col>
              </ion-row>
            </div>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
