page-admin-reporting {
  .weekText{
    height: 5vh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:12px;
    margin-right:12px;
  }
  .arrowButton{
    height:100%;
    width:100%;
  }
  .totalBar{
    background-color:rgba(0,0,0,0.08);
  }
  .attendanceWarning{
    flex-grow: 1;
    height:100%;
    background-color:rgb(255,153,0);
    border: 3px;
  }
  .billedWarning{
    flex-grow: 1;
    height:100%;
    background-color:rgb(255,0,0);
    border: 3px;
  }
  .therapyWarning{
    flex-grow: 1;
    height:100%;
    background-color:rgb(255,0,255);
    border: 3px;
  }
  .blanckError{
    flex-grow: 1;
    height: 100%;
    background-color:rgb(255,255,255);
    border: 3px;
  }
  .bgc {
    background-color: #eee5de;
  }
  .container{
    height: 30px;
    display: flex;
    align-items: flex-end;
  }
  .nameContainer{
    font-size: 120%;
    font-weight: bold;
    text-align: left;
    flex-grow: 1;
    flex-basis: 50%;
  }
  .errorsContainer{
    display: flex;
    flex-grow: 1;
    align-self:stretch;
  }
  .hoursContainer{
    font-size: 120%;
    font-weight: bold;
    text-align: right;
    flex-grow: 1;
    flex-basis: 30px;
  }
}
