<ion-header>

  <ion-navbar>
    <ion-title>Add to Favorites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="fixedBackground">
<ion-item-group>
  <div *ngFor="let class of this.classRoomService.data | mapValues">
    <ion-card *ngIf="class.key >= 0">
        <ion-item>
          Room {{class.key}}
          <button id="downButton_{{class.key}}" ion-button item-right (click)="toggleDropDown(class.key)">
              <ion-icon id="dropDown_{{class.key}}" name="arrow-down"></ion-icon>
          </button>
          <button id="upButton_{{class.key}}" hidden="true" ion-button item-right (click)="toggleDropDown(class.key)">
              <ion-icon id="dropDown_{{class.key}}" name="arrow-up"></ion-icon>
          </button>
        </ion-item>
      <div id="classroom_{{class.key}}" hidden="true">
        <ion-list>
          <ion-item>
          <div *ngFor="let sID of class.val.students">
            <div *ngIf="!this.favStudents.includes(sID)">
              <ion-item id="student_{{sID}}">
                {{this.studentService.data.get(sID).fName}} {{this.studentService.data.get(sID).lName}}
                <button ion-button round outline color="secondary" item-right (click)="addToFavorites(sID)">
                   <ion-icon name="add"></ion-icon>
                </button>
              </ion-item>
            </div>
          </div>
          <ion-item class="emptyItem" id="empty_{{class.key}}" *ngIf="isEmpty(class.val)">
            No more students to add
          </ion-item>
        </ion-item>
        </ion-list>
      </div>
    </ion-card>
  </div>
</ion-item-group>
</ion-content>
