page-therapist-add {

  .scroll-content {
    background: transparent;
  }

  .emptyItem {
    color: gray;
  }

  .fixedBackground {
    background: url(../assets/logo/Dark_Background.jpg);
    background-size: 100% 100%;
    height: 100vh;
  }

}
