
<div *ngIf="this.thisStudentLocation === checkinService.CHECKED_IN">
  <div id="infoButton">Present <ion-icon class="arrowIcon" name="arrow-forward"></ion-icon></div>
</div>
<div *ngIf="this.thisStudentLocation == checkinService.CHECKED_OUT">
  <div id="infoButton">Absent <ion-icon class="arrowIcon" name="arrow-forward"></ion-icon></div>
</div>
<div *ngIf="this.thisStudentLocation == checkinService.CHECKED_OUT_THERAPY">
  <div id="infoButton">Therapy <ion-icon class="arrowIcon" name="arrow-forward"></ion-icon></div>
</div>
<div *ngIf="this.thisStudentLocation == checkinService.CHECKED_OUT_THERAPY_OT">
  <div id="infoButton">Therapy (OT) <ion-icon class="arrowIcon" name="arrow-forward"></ion-icon></div>
</div>
<div *ngIf="this.thisStudentLocation == checkinService.CHECKED_OUT_THERAPY_PT">
  <div id="infoButton">Therapy (PT) <ion-icon class="arrowIcon" name="arrow-forward"></ion-icon></div>
</div>
<div *ngIf="this.thisStudentLocation == checkinService.CHECKED_OUT_THERAPY_SLP">
  <div id="infoButton">Therapy (SLP)  <ion-icon class="arrowIcon" name="arrow-forward"></ion-icon></div>
</div>
<div *ngIf="this.thisStudentLocation == checkinService.CHECKED_OUT_NURSE">
  <div id="infoButton">Nurse <ion-icon class="arrowIcon" name="arrow-forward"></ion-icon></div>
</div>
