page-nap-buttons {
  .item-select select {
    -moz-appearance: none;
    position: absolute;
    top: 3px;
    bottom: 3px;
    right: 0px;
    padding: 0px 45px 0px 0px;
    max-width: 100%;
    background: #FFF none repeat scroll 0% 0%;
    color: #333;
    text-indent: 0.01px;
    text-overflow: "";
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
  }
  .item-select {
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  .item-input{
    padding: 0 0 0 0;
  }
}
