<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title center-text *ngIf="!this.isAddNewClassroom">Classroom Details</ion-title>
    <ion-title center-text *ngIf="this.isAddNewClassroom">New Classroom</ion-title>
    <!--<page-home-button></page-home-button>-->
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="!this.isAddNewClassroom && this.classroomService.data.get(this.classroom._id)!=undefined">
  <div *ngIf="this.classroom._id >= 0">
    <h3>
      Room {{this.classroom.roomNumber}}
    </h3>


    <form [formGroup]="classroomForm" (ngSubmit)="updateClassroom()">
      <ion-list>
        <ion-list-header>
          Teacher:
        </ion-list-header>
        <ion-item>
          <ion-input type="text" formControlName="teacher"></ion-input>
        </ion-item>
      </ion-list>
    </form>

    <ion-card [hidden]="this.classroomForm.valid">
      <ion-card-header>Invalid input</ion-card-header>
      <ion-card-content *ngIf="this.classroomForm.controls['teacher'].hasError('required')">
        Teacher is required.
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-list-header>
        Teacher Aides:
      </ion-list-header>
      <ion-item-sliding *ngFor="let userID of this.classroomService.data.get(this.classroom._id).aides">
        <ion-item>
          {{this.userService.data.get(userID).fName}} {{this.userService.data.get(userID).lName}}
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="removeAide(userID)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        <button ion-button full (click)="addAideModal()">
          Add Aide To Class
        </button>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Students:
      </ion-list-header>
      <ion-item-sliding *ngFor="let SID of this.classroomService.data.get(this.classroom._id).students">
        <ion-item>
          {{this.studentService.data.get(SID).fName}} {{this.studentService.data.get(SID).lName}}
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="removeStudent(SID)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item>
        <button ion-button full (click)="addStudentModal()">
          Add Student To Class
        </button>
      </ion-item>
    </ion-list>
  </div>

  <h3 *ngIf="this.classroom._id < 0">
    {{this.classroom.roomNumber}}
  </h3>

  <ion-list *ngIf="this.classroom._id < 0">
    <ion-list-header>
      Students:
    </ion-list-header>
    <ion-item *ngFor="let SID of this.classroom.students">
      {{this.studentService.data.get(SID).fName}} {{this.studentService.data.get(SID).lName}}
    </ion-item>
  </ion-list>

  <button ion-button block color="primary" *ngIf="this.classroom._id >= 0" [disabled]="!this.classroomForm.valid" (click)="updateClassroom()">{{buttonText}}</button>
  <button ion-button block color="danger" *ngIf="this.classroom._id >= 0" (click)="deleteClassroom()">Delete Class</button>
</ion-content>


<ion-content padding *ngIf="this.isAddNewClassroom">
  <form [formGroup]="classroomForm" >
    <ion-list>
      <ion-list-header>
        Room Number:
      </ion-list-header>
      <ion-item>
        <ion-input type="text" formControlName="roomNumber"></ion-input>
      </ion-item>
      <ion-list-header>
        Teacher:
      </ion-list-header>
      <ion-item>
        <ion-input type="text" formControlName="teacher"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-card [hidden]="this.classroomForm.valid">
    <ion-card-header>Invalid input</ion-card-header>
    <ion-card-content *ngIf="this.classroomForm.controls['roomNumber'].hasError('required')">
      Room Number is required.
    </ion-card-content>
    <ion-card-content *ngIf="this.classroomForm.controls['roomNumber'].hasError('collision')">
      Room Number is already in use.
    </ion-card-content>
    <ion-card-content *ngIf="this.classroomForm.controls['roomNumber'].hasError('notPositiveNumber')">
      Room Number must be a positive number.
    </ion-card-content>
    <ion-card-content *ngIf="this.classroomForm.controls['teacher'].hasError('required')">
      Teacher is required.
    </ion-card-content>
  </ion-card>

  <button ion-button block color="primary" [disabled]="!this.classroomForm.valid" (click)="addClassroom()">Add Classroom</button>

</ion-content>
