page-kitchen {

	.card-container {
		display:flex;
		width:100%;
		height:100%;
		flex-wrap: wrap;
	    align-content: space-around;
	    justify-content: space-around;
	}

	.flex-element{
		width:15%;
	    background-color: #efce28;
	    margin:12px;
	    width: 15%;

	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.roomDummy{
		margin-top: 100%;
	}

	.roomText{
		font-weight: boldest;
		font-size: 100%;
	}

	.card-element{
	    background-color: #efce28;
	}

}
