page-kitchen {
  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";

  .bgc {
    background: url(../assets/logo/Dark_Background.jpg);
    background-size: 100% 100%;
    height: 100vh;
  }

  .card-container {
		display:flex;
		width:100%;
		height:100%;
		flex-wrap: wrap;
	    align-content: space-around;
	    justify-content: space-around;
	}

	.flex-element{
		width:15%;
    background-color: #efce28;
    margin:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:25%;
	}

	.roomDummy{
		margin-top: 100%;
	}

	.roomNumber{
		font-weight: bold;
		font-size: 300%;
    text-align: center;
	}

  .roomCount{
    text-align: center;
    font-weight: bold;
		font-size: 250%;
  }

  .roomNumberKey{
		font-weight: bold;
		font-size: 250%;
    text-align: center;
	}

  .roomCountKey{
    text-align: center;
    font-weight: bold;
		font-size: 200%;
  }

  .cardGridKey{
    margin-top: -20%;
  }

	.card-element{
	  background-color: #efce28;
	}

  .full-content{
    height:100%;
  }

}
