<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedStudent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Student Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fixedBackground" (click)="resetInterval()">
  <h1 text-center *ngIf="selectedStudent" class="titleRow">
    <div *ngFor="let student of this.studentService.data | mapValues">
      <div *ngIf="student.val._id === selectedStudent">
        {{student.val.fName}} {{student.val.lName}}
        <ion-icon [name]="selectedStudent.icon"></ion-icon>
      </div>
    </div>
  </h1>
  <ion-list inset class="transactionList">
    <div *ngFor="let transaction of this.transactions">
          <ion-card *ngIf="transaction.type === 'checkin'">
            <ion-card-content>
              <ion-icon name="person-add" item-left></ion-icon>
              Checked In For the Day By {{getUserName(transaction.by_id)}} at {{transaction.time_readable}}
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="transaction.type === 'checkout'">
            <ion-card-content>
              <ion-icon name="send" item-left></ion-icon>
              Checked Out For the Day By {{getUserName(transaction.by_id)}} at {{transaction.time_readable}}
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="transaction.type === 'checkinByNurse'">
            <ion-card-content>
              <ion-icon name="globe" item-left></ion-icon>
              Checked In By {{getUserName(transaction.by_id)}} at {{transaction.time_readable}}
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="transaction.type === 'checkoutByNurse'">
            <ion-card-content>
              <ion-icon name="globe" item-left></ion-icon>
              Checked Out By {{getUserName(transaction.by_id)}} at {{transaction.time_readable}}
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="transaction.type === 'checkinByTherapist'">
            <ion-card-content>
              <ion-icon name="briefcase" item-left></ion-icon>
              Checked In By Therapist, {{getUserName(transaction.by_id)}}, at {{transaction.time_readable}}
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="transaction.type.includes('checkoutByTherapist')">
            <ion-card-content>
              <ion-icon name="briefcase" item-left></ion-icon>
              Checked Out By Therapist, {{getUserName(transaction.by_id)}}, at {{transaction.time_readable}}
            </ion-card-content>
          </ion-card>
    </div>
    <div *ngIf="this.transactions.length === 0"class="vertical-align-content">
      <ion-grid>
        <ion-row class="emptyRow">
          <ion-col>
            <ion-item class="emptyItem">
              <ion-icon class="emptyIcon" name="archive"></ion-icon>
            </ion-item>
            <ion-item class="emptyText">
              {{this.studentService.data.get(selectedStudent).fName}} {{this.studentService.data.get(selectedStudent).lName}} has no transactions today.
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-list>
</ion-content>
