<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedStudent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Student Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 text-center *ngIf="selectedStudent">
    <div *ngFor="let student of this.studentService.data | mapValues">
      <div *ngIf="student.val._id === selectedStudent">
        {{student.val.fName}} {{student.val.lName}}
        <ion-icon [name]="selectedStudent.icon"></ion-icon>
      </div>
    </div>
  </h2>
  <ion-list inset>
    <div *ngFor="let transaction of this.transactions">
        <h3 ion-item>
          <div *ngIf="transaction.type === 'checkin'">
            <ion-icon name="person-add" item-left></ion-icon>
            Checked In For the Day by {{getUserName(transaction.by_id)}} at {{transaction.time_readable}}
          </div>
          <div *ngIf="transaction.type === 'checkout'">
            <ion-icon name="send" item-left></ion-icon>
            Checked Out For the Day By {{getUserName(transaction.by_id)}} at {{transaction.time_readable}}
          </div>
          <div *ngIf="transaction.type === 'checkinByNurse'">
            <ion-icon name="medical" item-left></ion-icon>
            Checked In By {{getUserName(transaction.by_id)}} at {{transaction.time_readable}}
          </div>
          <div *ngIf="transaction.type === 'checkoutByNurse'">
            <ion-icon name="medical" item-left></ion-icon>
            Checked Out By {{getUserName(transaction.by_id)}} at {{transaction.time_readable}}
          </div>
          <div *ngIf="transaction.type === 'checkinByTherapist'">
            <ion-icon name="briefcase" item-left></ion-icon>
            Checked In By Therapist, {{getUserName(transaction.by_id)}}, at {{transaction.time_readable}}
          </div>
          <div *ngIf="transaction.type === 'checkoutByTherapist'">
            <ion-icon name="briefcase" item-left></ion-icon>
            Checked Out By Therapist, {{getUserName(transaction.by_id)}}, at {{transaction.time_readable}}
          </div>
        </h3>
    </div>
  </ion-list>
</ion-content>
