<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedStudent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Student Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedStudent">
    {{selectedStudent}}
    <ion-icon [name]="selectedStudent.icon"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedStudent">
    You navigated here from <b>{{selectedStudent}}</b>
  </h4>
  <!--<h5 text-center *ngFor="let transaction of this.checkinService.data | mapValues">
  </h5>-->
</ion-content>
