page-student-details {

  .bgc {
    background-color: #eee5de;
    height: 100%;
    width: 100%;
  }

  .vertical-align-content
  {
    //display: flex!important;
    align-content: center!important;
  }

  .titleRow {
    padding-top: 5%;
  }

  .transactionList {
    padding-top: 5%;
  }

  .emptyRow {
    background-color: #eee5de;
    padding-top: 15vh;
    align-self: center;
    width: 80%;
  }

  .emptyItem {
    background-color: #eee5de;
    align-self: center;
    text-align: center;
  }

  .emptyIcon {
    background-color: #eee5de;
    width: 75px;
    height: 75px;
    color: gray;
    font-size: 800%
  }

  .emptyText {
    background-color: #eee5de;
    align-self: center;
    text-align: center;
    color: gray;
    font-size: 150%;
  }

}
