page-student-details {

  .bgc {
    background: transparent;
    height: 100%;
    width: 100%;
  }

  .fixedBackground {
    background: url(../assets/logo/Dark_Background.jpg);
    background-size: 100% 100%;
    height: 100vh;
  }

  .vertical-align-content
  {
    //display: flex!important;
    align-content: center!important;
  }

  .titleRow {
    padding-top: 5%;
    color: white;
  }

  .transactionList {
    padding-top: 5%;
  }

  .emptyRow {
    background: transparent;
    padding-top: 15vh;
    align-self: center;
    width: auto;
  }

  .emptyItem {
    background: transparent;
    align-self: center;
    text-align: center;
  }

  .emptyIcon {
    background: transparent;
    width: 75px;
    height: 75px;
    color: white;
    font-size: 800%
  }

  .emptyText {
    background: transparent;
    align-self: center;
    text-align: center;
    color: white;
    font-size: 150%;
  }

}
