page-admin-drill-tab {

  .fill {
    padding-top: 8vh;
    background: url(../assets/logo/Dark_Background.jpg);
    background-size: 100% 100%;
    height: 100%;
  }

  .roomNumber {
    padding-top: 8%;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 10%;
    width: auto;
  }

  .roomCount {
    font-size: 180%;
    font-weight: bold;
    padding-bottom: 10%;
    width: auto;
  }

  .card-container {
    display:flex;
    width:100%;
    height:100%;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding-bottom: 5vh;
  }

  .flex-element{
    width:15%;
    //background-color: place here;
    margin:12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardGrid{
    align-items: center;
  }

  .phoneView {
    display: none;
  }

  @media (max-width: 768px) {
    .phoneView {
      display: block;
      background: url(../assets/logo/Dark_Background.jpg);
      background-size: 100% 100%;
      padding-top: 5%;
    }

    .notPhone {
      display: none;
    }
  }

}
