<ion-header>

  <ion-navbar>
    <ion-title>Admin</ion-title>
    <page-home-button></page-home-button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        Classrooms:
      </ion-col>
    </ion-row>
    <ion-row>
      <div class="roomContainer">
        <ion-card class="roomCard" *ngFor="let class of classrooms" (click)="showClassRoomInfo(class._id)">
            <ion-card-header class="roomHeader">
              {{class.roomNumber}}
            </ion-card-header>
            <!--<ion-list>
              <ion-item class="studentItem" *ngFor="let sID of class.students">
                {{this.studentService.data.get(sID).fName}} {{this.studentService.data.get(sID).lName}}
              </ion-item>
            </ion-list>-->
        </ion-card>
      </div>
    </ion-row>
  </ion-grid>
  <!-- <ion-fab bottom right>
    <button ion-fab block class="addFab">
      <ion-icon name="add">
      </ion-icon>
    </button>
  </ion-fab> -->
  <button ion-button block class="addFab" (click)="addClassroom()">
    Add Classroom
  </button>
</ion-content>
