page-admin-classroom-tab {
  .bgc {
    background: url(../assets/logo/Dark_Background.jpg);
    background-size: 100% 100%;
  }
  .roomContainer{
    display: block;
    width:100%;
  }

  .roomDummy{
    margin-top: 100%;
  }
  .roomText{
    font-weight: bolder;
    font-size: 100%;
  }
  .studentItem{
    text-align: center;
  }
  .addFab{
    width: 150px;
    height: 75px;
    position: fixed;
    z-index: 100;
    bottom: 60px;
    right: 20px;
  }
  .submit-button{
    font-size: 150%;
  }
  .scroll-content {
    padding-top: 2% !important;
    background: transparent;
  }
  .scrollView {
    background: transparent;
    align-items: center;
    max-height: 83vh;
  }
  .push-to-bottom {
    background-color: transparent;
    position: absolute;
    bottom: 10vh;
    width: 100%;
  }
  .buttonRow {
    background: transparent;
    align-self: center;
    width: auto;
  }
  //iPad portrait or iPad pro portrait
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .scroll-content {
      padding-top: 5% !important;
    }
    .scrollView {
      max-height: 80vh;
    }
  }

  //iPad landscape
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .scroll-content {
      padding-top: 3% !important;
    }
    .scrollView {
      max-height: 80vh;
    }
  }
}
