page-admin-classroom-tab {
  .bgc {
    background-color: #eee5de;
  }

  .roomContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    width:100%;
  }
  .roomButton{
    background-color: #efce28;
    margin:12px;
    width: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .roomDummy{
    margin-top: 100%;
  }
  .roomText{
    font-weight: bolder;
    font-size: 100%;
  }
  .studentItem{
    text-align: center;
  }
  .addFab{
    width: 150px;
    height: 75px;
    position: fixed;
    z-index: 100;
    bottom: 60px;
    right: 20px;
  }

}
