page-admin-classroom-tab {
  .bgc {
    background-color: #eee5de;
  }
  .roomContainer{
    display: block;
    width:100%;
  }

  .roomDummy{
    margin-top: 100%;
  }
  .roomText{
    font-weight: bolder;
    font-size: 100%;
  }
  .studentItem{
    text-align: center;
  }
  .addFab{
    width: 150px;
    height: 75px;
    position: fixed;
    z-index: 100;
    bottom: 60px;
    right: 20px;
  }
  .scroll-content {
    padding-top: 3% !important;
    background-color: #eee5de;
  }
  .scrollView {
    background-color: #eee5de;
    align-items: center;
    max-height: 83vh;
  }
  .push-to-bottom {
    background-color: #eee5de;
    position: absolute;
    bottom: 7vh;
    width: 100%;
  }
  .buttonRow {
    background-color: #eee5de;
    align-self: center;
    width: auto;
  }

}
